.home{
    position : relative;
}

.msgAccueil{
    position: absolute;
    top: 10%;
    left: 10%;
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color : white;
    line-height: 110px;
}

.cartes{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 5%;
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color : white;
    line-height: 110px;
}